.BudgetTableCell {
    font-size: 0.8em;
    text-align: center;
}
.BudgetTableCellMain {
    font-size: 1.4em;
    display: inline-block;
    flex: 1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TableContainer {
    height: 100vh;
    padding-top: 90px;
    max-height: 100vh;
    min-width: 320px;
    background-color: #D4F1F4;
}
.TableContainerTable {
    border-collapse: collapse;
}
img {
    max-width: 40px;
    margin-left: 5px;
}
.MyPointer {
    cursor: grab;
}
.MarginOnRight{
    margin-right: 10px;
}


@media only screen and (min-width: 400px) {
    .BudgetTableCell {
        font-size: 1em;
    }
}
@media only screen and (min-width: 600px) {
    .BudgetTableCell {
        font-size: 1.2em;
    }
}